{
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}